/* function library */

/* line clamp: turncate the paragraph */
.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.line-clamp-5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

/* the space of section top */
.topSpace {
    padding-top: 200px;
}

.no-scroll {
    overflow: hidden;
}

/* ===========Customize Style ====================================================================================================================== */

/* body CSS */
body {

    --bs-body-color: white;
    --bs-body-bg: transparent;
    --bs-body: ;
    /* scroll bar var */
    --sb-track-color: #000000;
    --sb-thumb-color: #202020;
    --sb-size: 0.4rem;
    /* section color */
    --section-bg-color: black;

}



body:has(nav div.collapse.show)::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.582);
    pointer-events: none;
}

/* end of body setting*/

/* scrollbar CSS */
*::-webkit-scrollbar {
    width: var(--sb-size)
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        scroll-behavior: smooth;
    }
}

/* end*/

/* bluring background img while nav bar scroll-down  */
body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body:has(.navbar-collapse.show)::after {
    opacity: 1;
}

/* end */



/* font */
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: "Irish Grover";
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2,
.h2 {
    font-size: 2rem;
}

/* navbar */
/* clickthrou setting */
header {
    /* make the parts without menu be clickthrou */
    pointer-events: none;


    /* logo pinter event */
    div:has(a[href="#top"]),
    button,
    a {
        pointer-events: all;
    }
}

.navbar {
    --bs-link-color: white;
    --bs-navbar-color: white;
    font-size: x-large;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 88%);
    transition: all 0.3s ease-in-out;
    font-family: "Irish Grover";

    img {
        width: 250px;
    }

    @media screen and (max-width: 576px) {

        font-size: xx-large;
    }


}


.navbar.navbar:has(.collapsing),
.navbar.navbar:has(.collapse.show) {
    padding-bottom: 40vh;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 88%);
    transition: all 0.3s ease-in-out;

    button.navbar-toggler {
        transform: rotate(180deg);
    }
}

@media screen and (max-width:576px) {

    /* 替換 Bootstrap 預設的 height 動畫 */
    .collapse {
        max-height: 0;
        /* overflow: hidden; */
        transition: max-height 0.26s ease-in-out;
    }

    .collapse.show {
        max-height: 40vh;
    }

    .collapsing {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.26s ease-in-out;
    }
}



.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: 0px;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler[aria-expanded="true"] i {
    transform: rotate(180deg);
}

.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
}

.nav-link:focus,
.nav-link:hover {
    --bs-nav-link-hover-color: grey;
}

/* main background*/
main {
    background-color: black;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main .bg-filter {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000004;
    z-index: 0;
    inset: 0;
    backdrop-filter: brightness(100%) blur(0px);

}

/* main-wrapper z-index */
.main-wrapper {
    position: relative;
    z-index: 0;
}

/* Hero section */
section.hero {
    padding-top: 25vh;
    z-index: 1;

    div.ld-jump:hover {
        animation: none;
    }

    .container {
        position: relative;
        z-index: 1;
        top: 7rem;
    }
}

/* Lore section */
section.lore {
    video {
        object-fit: cover;
        max-height: 50vh;
    }
}


/* world section */


.world div.card {
    --animation-duration: 0.6s;
    height: 25vh;
    max-height: auto;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    --bs-card-border-width: 0px;
    transition: all var(--animation-duration) ease-in-out;
    align-items: center;

    h2 {
        z-index: 2;
        position: relative;
        top: 80%;
        transition: all var(--animation-duration) ease-in-out;

    }

    p {
        position: relative;
        z-index: 1;
        max-height: 0;
        overflow: hidden;
        transition: var(--animation-duration) all ease-in-out;
    }

    img {
        display: none;
    }
}

.world div.card.card-active {
    position: relative;
    height: 90vh;
    max-height: 800px;

    .card-bg-filter {
        opacity: 0;
    }

    h2 {
        top: 0;
        transform: scale(1.4) translateY(0rem);
    }

    p {
        position: relative;
        z-index: 1;
        display: block;
        max-height: 100%;
    }

    img {
        position: absolute;
        bottom: auto;
        z-index: 0;
        filter: blur(1px);
        display: block;
    }

}



.card-bg-filter {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(0.8);
    opacity: 1;
    background: #00000004;
    transition: all 0.3s ease-in-out;

}

.card-hover {
    .card-bg-filter {
        opacity: 0;
    }

    h2 {
        transform: scale(1.4) translateY(-10px);
    }
}



/* world card-md */
@media screen and (min-width: 768px) {

    .world div.card {
        height: 50vh;
        width: 25vw;
        /* max-width: 400px; */
        flex-wrap: nowrap;
        overflow: hidden;
        position: relative;
        background-size: cover;
        --bs-card-border-width: 0px;
        transition: width var(--animation-duration) ease-in-out;
        align-items: start;

        h2 {
            z-index: 2;
            position: absolute;
            top: 80%;
            left: 30%;
            transition: all var(--animation-duration) ease-in-out;
        }

        .text-content {
            position: relative;
            z-index: 1;
            opacity: 0;
            max-width: 0;
            overflow: hidden;
            transition: var(--animation-duration) all ease-in-out;
        }

        img {
            display: none;
        }
    }



    .world div.card.card-active {
        height: 50vh;
        width: 75vw;
        position: relative;
        align-items: center;
        /* width: 800px; */


        .card-bg-filter {
            opacity: 0;
        }

        .text-content {
            text-align: start;
        }

        h2 {
            position: absolute;
            top: 4%;
            left: 4rem;
            transform: scale(1.4) translateY(1rem) translateX(0%);
        }

        .text-content {
            position: relative;
            z-index: 1;
            opacity: 1;
            display: block;
            max-width: 100%;
            text-shadow: 4px 2px 10px #000000, 4px 2px 10px #000000;
            padding-top: 1rem;
        }

        img {
            position: absolute;
            left: 0;
            bottom: -10%;
            z-index: 0;
            filter: blur(0px);
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* object-position: center; */
            display: block;
        }

    }



    .card-bg-filter {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: grayscale(0.8);
        opacity: 1;
        background: #00000004;
        transition: all 0.3s ease-in-out;

    }

    .card-hover {
        .card-bg-filter {
            opacity: 0;
        }

        h2 {
            transform: scale(1.4) translateY(-10px);
        }
    }

}

/* end of md */
/* lg card */
@media screen and (min-width: 992px) {
    .world div.card {
        padding: 4rem;
    }

    .world div.card.card-active {
        padding: 3rem;
    }
}

/* lg-card end */
/* xl-card */
@media screen and (min-width: 1200px) {
    .world div.card {
        padding: 6rem;
        height: 60vh;
    }

    .world div.card.card-active {
        padding: 4rem;
        height: 60vh;

    }
}

/* xl-card end */

/* game system intro section */

/* reset bootstrap css (gameSys intro section) */
.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
    --bs-nav-tabs-border-color: var(--bs-border-color);
    --bs-nav-tabs-border-radius: var(--bs-border-radius);
    --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color:
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: white;
    border-radius: 0px;
}

/* nav li, nav button style (gameSys intro section) */
li.nav-item:has(button.active) {
    background-color: rgb(39, 39, 39);
}

li.nav-item {
    border-radius: 5px;
}

.nav-link {
    color: white;
}

/* cutomize sm style (gameSys intro section) */
@media screen and (min-width: 576px) {

    li.nav-item:hover,
    li.nav-item:has(button.active):hover {
        background-color: rgb(68, 68, 68);
        transition: all 0.3s ease-in-out;
    }

    li.nav-item:has(button.active) {
        background-color: transparent;
        outline: solid white 1px;
    }

    /* extend the button click area (gameSys intro section) */
    li.nav-item button.nav-link {
        display: block;
        width: inherit;
    }

    li.nav-item:hover button.nav-link {
        color: white;
    }
}

/* tab panes  (gameSys intro section)*/
ol li,
ul li {
    list-style: none;
}


div.tab-pane.active {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.carousel-caption {
    background: transparent;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.445) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    right: 0%;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 5rem;
    color: var(--bs-carousel-caption-color);
    text-align: end;

}

/* news sectioin */


.news div.card {
    /* change the card weight in html bootstrap */
    border: rgb(255, 255, 255) solid;
    padding: 1rem;
    background-color: #000000;

    .h3 {
        font-family: var(--bs-body-font-family);
        cursor: pointer;
        height: 2.5em;
        align-items: center;
    }

    img {
        cursor: pointer;
    }

    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 5;
        overflow: hidden;
    }

    a.btn {
        font-size: 1.3rem;
    }
    .border-bottom.d-flex{
        align-items: center;
    }

}

/* x-small img controll */
@media screen and (max-width: 575px) {
    .news div.card {
        border: none;
        border-radius: 0px;
        padding: 0px;
    }

    .news img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        border-radius: inherit;

    }

}

/* sm card */
@media screen and (min-width: 575px) {

    .news .cardimg {
        width: 200px;
        flex-shrink: 0;
    }
    .news .context{
        width: 100%;
        div{
            width: 100%;
        }
    }

    .news img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: inherit;
    }

}

/* whish list */
.wishList {
    padding-bottom: 200px;
}

.wishList iframe {
    width: 100%;
    max-width: 600px;
}


/* Wish List CTA fixed button */

.buyIt {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    background-color: #4A7285;
    border-radius: 2.5cap;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);

    p {
        overflow: hidden;
        white-space: nowrap;
    }

    i {
        transform: rotate(0deg);
    }
}

.buyIt,
.buyIt i,
.buyIt p {

    transition: all ease 0.3s, transform ease 0.5s;
}


/* fixed window area */
.window-popup {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    
    .h2, .h3{
        font-family: var(--bs-body-font-family);
    }

}

.window-popup.active {
    display: flex;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000bb;
    backdrop-filter: blur(5px);


    .popup-content {
        width: 80vw;
        height: 90vh;
        overflow-y: scroll;
        background: #18181a;
        border-radius: 1rem;
        position: relative;


        img:first-child {
            width: 100%;
            height: 100%;
            height: 35vh;
            object-fit: cover;
            -webkit-user-drag: none;
        }

        .article-content{

            img {
                width: 100%;
                height: 100%;
            }
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
        }

        .btn {
            border: 0px;
        }

    }
}

@media screen and (min-width: 1200px) {
    .window-popup.active  {
        .popup-content {
            width: 60vw;
        }
    }
}

/* footer */
footer {
    position: relative;

    a {
        text-decoration: none;
        color: var(--bs-color);
    }

    img {
        height: 50px;
    }

    /* a:hover{
        text-decoration: underline;
        color: var(--bs-color);
    } */
}